*{
font-size: 62.5%;
box-sizing: border-box;
margin: 0;
}
html{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
    
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    text-align: center;
}
body{
    font-size: 1.8rem;
    
}
img{
    width: 60vw;
}
.galeria{
    width: 95vw;
    display: flex;
    border: .2rem;
    border-color: rgb(255, 123, 0);
    border-style: double;
    border-radius: 1rem;
    padding: .5rem;
    overflow: scroll;
}
.galeria ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate-reverse;
    max-height: 300px;
}
.menu{
    display: flex;
    text-align: left;
}
.foto{
    padding-left: 1rem;
    margin: 0;
    animation: gale 21s infinite alternate-reverse;
    width: 60vw;
}
.cambiador{
    width: 320px;
    height: 40px;
    display: flex;
    overflow: hidden;
    border: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.tre{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    font-size: 55px;
    animation: cambiar 6s infinite ;
    margin-top: 0;
    color: rgb(255, 123, 0);
}
.corre{
    font-size: 16px;
    
    margin: 0;
    text-align: center;
    align-self: center;
}
.caja1{
    display: block;
    background-color: rgb(255, 123, 0);
    font-size: 2.2rem;
    color: white;
    text-align: center;
    text-shadow: .3rem;
}
/*.tik{
    width: 100vw;
}*/
video{
    width: 100vw;
    border-radius: .1rem;
    border-style: groove;
    border-color: rgb(255, 123, 0);
    /*padding-right: .2rem;*/
    align-items: center;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25% {margin-top: -40px;}
    50% {margin-top: -40px;}

    55% {margin-top: -80px;}
    80% {margin-top: -80px;}

    85% {margin-top: -40px;}
    95% {margin-top: -40px;}

    100% {margin-top: 0;}
}
@keyframes gale {
    0% {margin-left: 0;}
    4% {margin-left: 0;}

    5% {margin-left: -100%;}
    9% {margin-left: -100%;}

    10% {margin-left: -200%;}
    14% {margin-left: -200%;}

    15% {margin-left: -300%;}
    19% {margin-left: -300%;}

    20% {margin-left: -400%;}
    24% {margin-left: -400%;}

    25% {margin-left: -500%;}
    29% {margin-left: -500%;}

    30% {margin-left: -600%;}
    34% {margin-left: -600%;}

    35% {margin-left: -700%;}
    39% {margin-left: -700%;}

    40% {margin-left: -800%;}
    44% {margin-left: -800%;}

    45% {margin-left: -900%;}
    49% {margin-left: -900%;}

    50% {margin-left: -1000%;}
    54% {margin-left: -1000%;}

    55% {margin-left: -1100%;}
    59% {margin-left: -1100%;}

    60% {margin-left: -1200%;}
    64% {margin-left: -1200%;}

    65% {margin-left: -1300%;}
    69% {margin-left: -1300%;}

    70% {margin-left: -1400%;}
    74% {margin-left: -1400%;}

    75% {margin-left: -1500%;}
    79% {margin-left: -1500%;}

    80% {margin-left: -1600%;}
    84% {margin-left: -1600%;}

    85% {margin-left: -1700%;}
    89% {margin-left: -1700%;}

    90% {margin-left: -1800%;}
    94% {margin-left: -1800%;}

    95% {margin-left: -1900%;}
    99% {margin-left: -1900%;}

    15% {margin-left: -2000%;}
    19% {margin-left: -2000%;}

    15% {margin-left: -2100%;}
    19% {margin-left: -2100%;}

    15% {margin-left: -2200%;}
    19% {margin-left: -2200%;}
}