*{
font-size: 62.5%;
box-sizing: 0;
background-color: blue;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    color: white;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
    text-align: center;
}
body{
    font-size: 1.6rem;
    color: white;
}
.tik{
    width: 100vw;
}
video{
    width: 100vw;
}